
<div class="image">
     <!DOCTYPE html>
    <html>
          <body>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="'/../../assets/images/reg_user.png" class="brand_logo" alt="Logo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form #userForm="ngForm"  (ngSubmit)="onClickSubmit(userForm.value)" >
                            <hr />
                          
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                               
                                  <input type="text" name="companyname" #companyname="ngModel"  ngModel [class.is-invalid]="companyname.invalid" class="form-control input_user" value=""  required [(ngModel)]="userModel.name">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="email" #email="ngModel"  ngModel [class.is-invalid]="email.invalid" class="form-control input_user" value="" [(ngModel)]="userModel.email" required>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" name="password" #password="ngModel"  ngModel [class.is-invalid]="password.invalid"pattern="^\d{6}$" [class.is-invalid]="password.invalid "class="form-control input_pass" value="" [(ngModel)]="userModel.password" required>
                            </div>
                            <div *ngIf="password.errors && (password.invalid || password.touched)">
                                <small class="text-success " *ngIf="password.errors.required">Create New Password</small>
                                <small class="text-danger " *ngIf="password.errors.pattern">Password must be 6 numbers</small>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" name="confirmpassword" #confirmpassword="ngModel"  ngModel [class.is-invalid]="confirmpassword.invalid" pattern="^\d{6}$" [class.is-invalid]="confirmpassword.invalid "class="form-control input_pass"  [(ngModel)]="userModel.confirmPassword" required>
                            </div>
                          
                                <div class="d-flex justify-content-center mt-3 login_container">
                         <button type="submit" [disabled]="userForm.form.invalid" name="onSubmit" class="btn btn-danger">Register</button>
                       </div>
                        </form>
                      
                    </div>
            
                  
                </div>
            </div>
        </div>
    </body>
    </html>
    
 </div>

