<div class="image">
    <h1>Loyalty Points Manage</h1>


    <br>
    <form class=""  style="margin:auto;max-width:1200px">
        <input type="text" placeholder="Search Customer " >
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
<div class="container">
	<table>
		<thead>
			<tr>
				<th>Customer Name</th>
				<th>Loyalty Points</th>
				<th>Telephone Number</th>
				<th>Amount</th>
				<th>Bill Refernce Number</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Sarath Pushpakumara</td>
				<td>76 Points</td>
				<td>07734527749</td>
				<td>  <input type="text"  name="Amount"    placeholder="Amount" > </td>
				<td>  <input type="text"  name="BillRN"    placeholder="Bill Reference Number" > </td>
			</tr>
			
		</tbody>
        <br>

        <button type="button" class="btn btn-danger" href="company-profile" role="tab" aria-controls="home" >Submit</button>
        <button type="button" class="btn btn-secondary">Cansel</button>
	</table>

    
    
</div></div>
