<div class="image">
  <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card user-card">
                    <div class="card-header">
                        <h5>keels Super Center</h5>
                    </div>
                    <div class="card-block">
                        <div class="user-image">
                            <img src="/../../assets/images/userprofile.jpg" class="img-radius" alt="User-Profile-Image">
                        </div>
                        <h6 class="f-w-600 m-t-25 m-b-10">kulathunga</h6>
                        <p class="text-muted">Kulathunga@gmail.com</p>
                        <hr>
                        <h6 class="f-w-600 m-t-25 m-b-10">Change Password</h6>
                         <ul class="list-unstyled activity-leval">
                            <li class="active"></li>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                        </ul>
                
                <div>
                    <input type="password" name="currentpassword" #password="ngModel"   ngModel class="form-control input_pass" value="" placeholder="Enter Current Password" required>
                </div>
                <br>
                <div>
                    <input type="password" name="newpassword" #password="ngModel" pattern="^\d{6}$" [class.is-invalid]="password.invalid " ngModel class="form-control input_pass" value="" placeholder="Enter New Password" required>
                </div>
                  <br>
                  <div>
                    <input type="password" name="confirmpassword" #password="ngModel" pattern="^\d{6}$" [class.is-invalid]="password.invalid " ngModel class="form-control input_pass" value="" placeholder="Confirm Password" required>
                </div>
                          
                        <div>
                            <button type="button" class="btn btn-success">Save Changes</button>
                        </div>
            
        </div>
    </div>
</div>
<div>
    
    
</div>
